.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--padding-8);
    width: 100%;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.confirmButton {
    margin-top: var(--padding-13);
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--foreground);
    border: none;
    border-radius: var(--border-radius-8);
    cursor: pointer;
    transition: background-color 0.2s;
}

.confirmButton:hover {
    background-color:var(--hover-primary-color);
}