.grid {
    display: grid;
    justify-content:space-around;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    }

.confirmButton {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}